$NightBlue: #2d545e;
$NightBlueShadow: #12343b;
$Second-color: #222629;
$Second-color-light: #474b4f;
$backgroung-color: #e6e6e6;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #333;

$color-main-blue: #3498db;

$default-font-size: 1.6rem;
